@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700&display=swap');
@import "tailwindcss";

/* Handy classes */
.font-montserrat { font-family: 'Montserrat', sans-serif; }
.font-playfair { font-family: 'Playfair Display', serif; }

body {
  font-family: Montserrat, sans-serif;
}
